
.container{
    display: flex;
    flex-direction: column;
}

.Judul{
    display: flex;
    flex-direction: column;
    margin:10px;
    padding: 20px;
    align-items: center;
}

body {
            font-family: Arial, sans-serif;
            background-color: white;
            text-align: center;
            margin: 0;
            padding: 0;
        }

        h1 {
            margin-top: 50px;
            font-size: 32px;
            font-weight: bold;
        }

        .search-box {
            margin-top: 20px;
        }

        input[type="text"] {
            width: 400px;
            padding: 10px 20px;
            border-radius: 20px;
            border: 1px solid #888;
        }

        /* --- DAFTAR PERKENALAN --- */
        .container {
            margin-top: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card {
            background-color: #e0e0e0;
            width: 450px;
            padding: 20px;
            border-radius: 20px;
            box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
            
        }

        .title {
            font-weight: bold;
            font-size: 22px;
            margin-bottom: 15px;
        }

        ul {
            list-style: none;
            padding: 0;
            font-size: 18px;
            text-align: left;
        }

        ul li {
            padding: 6px 0;
        }

        button{
            background-color: rgb(64, 62, 224);
            color: white;
            margin-top: 40px;
        }

.jajan{
    color: pink;
}



