
.container{
    display: flex;
    flex-direction: column;
}

.Judul{
    display: flex;
    flex-direction: column;
    margin:10px;
    padding: 20px;
    align-items: center;
}

.search{
   width: 30%;
   height: 23px;
   position: relative;
   border-radius: 20px;
   text-align: left;
   padding-left:30px;
   
}
